:root {
  --reactColor: #ff003c;
  --reactColorDarker: #8629d2;
}

.first-main {
  margin-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 1200px;
  background: linear-gradient(
    45deg,
    var(--reactColorDarker),
    var(--reactColor)
  );
  gap: 30px;
  border-radius: 8px;
}

.label-svg {
  background-color: transparent;
  width: 200px;
  height: 200p3x;
  fill: aliceblue;
}

.text {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.label {
  background-color: transparent;
  font-size: 120px;
  color: aliceblue;
  font-weight: 600;
}

.text h2 {
  background-color: transparent;
  margin-top: -15px;
  font-size: 25px;
  font-weight: 400;
  color: aliceblue;
}
